body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background: linear-gradient(to right, #3498db, #6c5ce7);
    padding: 20px;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 48px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.location > div {
    margin: 10px;
}

/*.sun-icon {
    font-size: 36px;
}*/

.sunrise-sunset {
    margin-top: 10px;
    font-size: 14px;
    color: #222;
}

.locations-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card > div {
    margin: 10px 0;
    color: #555;
    transition: color 0.3s ease;
}

.card:hover > div {
    color: #333;
}

.no-cards {
    margin: 20px;
    font-style: italic;
    color: #888;
}

/* hjhdshdjsdhsjsjhdjhdjshdjhdjshdshdshd*/

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.location-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

.add-button,
.remove-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover,
.remove-button:hover {
    background-color: #2980b9;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #ccc;
}